body, 
html {
	height: 100%;
}

.alert-container {
	position: relative;
	z-index: 2;
}

.map-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.btn-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
}